@import url(https://fonts.googleapis.com/earlyaccess/cwtexhei.css);

* {
    font-family: 'cwtexhei';
    letter-spacing: 0.1em;
}

html {
    height: 100%;
}
body {
    margin: 0;
    position: relative;
    height: 100%;
}

.container {
    display: block;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

    form {
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 100;
        position: fixed;
        width: 80%;
        top: 0;
        padding-top: 10%;
    }

    .text-input {
        height: 100px;
        position: relative;

        input.user-input {
            display: inline-block;
            height: 100%;
            width: 100%;
            padding: 30px;
            font-size: 50px;
            box-sizing: border-box;
            border: 0;
            outline: none;
            text-align: center;
            background-color: inherit;

            &:focus, &:valid {
                + label.user-input:after {
                    width: 100%;
                }
            }
        }
        label.user-input {
            display: block;
            position: absolute;
            height: 3px;
            background-color: #EEE;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;

            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                left: 0;
                right: 0;
                margin: auto;
                width: 0;
                background-color: #2196F3;
                transition: all 0.5s ease-out;
            }
        }

        button[type="submit"] {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            border: 0;
            background-color: inherit;
            width: 80px;
            height: 60px;
            margin: auto;
        }
    }

    .control-panel {
        margin-top: 20px;
        height: 100px;
        display: inline-block;
        position: relative;

        .microphone-btn {
            position: relative;
            display: inline-block;
            float: left;
            margin: 0 40px;

            &.active {
                // background-color: #000;
            }
        }
        .reload-btn, .mute-btn {
            position: relative;
            height: 50px;
            margin-top: 25px;
            margin-bottom: 25px;
            display: inline-block;
            float: left;
        }
    }

}

.icon-microphone {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}
.icon-reload, .icon-mute {
    width: 50px;
    height: 50px;
    line-height: 100px;
    position: relative;
    display: inline-block;
}

.records {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    display: block;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto 7%;
    position: absolute;
    top: 0;

    li {
        margin: 5px 0;

        a {
            display: inline-block;
            padding: 0.5em 1em;
            border-radius: 18px;
            text-decoration: none;
        }

        &.player {
            text-align: right;

            a {
                background-color: #2196F3;
                color: #FFF;
            }
        }
        &.com {
            text-align: left;

            a {
                background-color: #EEEEEE;
                color: #000;
                transition: color 0.2s ease-out;

                &:hover {
                    color: #555;
                    text-decoration: underline;
                }
            }
        }
        &.system {
            text-align: center;
            font-size: 0.9em;

            a {
                padding: 0;
            }
        }
    }
}
